In [22]:
import pandas as pd

In [23]:
nba = pd.read_excel("Datos/nba.xlsx")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,2023-02-06 00:00:00,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,2023-06-06 00:00:00,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,2023-05-06 00:00:00,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,2023-05-06 00:00:00,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,2023-10-06 00:00:00,231.0,NaN,5000000.0

In [24]:
nba.set_index("Team", inplace = True, drop = False) 
# Cuando transformo una columna en índice de un dataframe, ésta deja de ser una columna en sí. 
# Si queremos cambiar esto, debemos utilizar el argumento 'drop = False'

### Función where

In [25]:
nba.where(nba["Salary"] < 5000000, other = 0)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,,
Boston Celtics,0,0,0.0,0,0.0,0,0.0,0,0.0
Boston Celtics,0,0,0.0,0,0.0,0,0.0,0,0.0
Boston Celtics,0,0,0.0,0,0.0,0,0.0,0,0.0
Boston Celtics,R.J. Hunter,Boston Celtics,28.0,SG,22.0,2023-05-06 00:00:00,185.0,Georgia State,1148640.0
Boston Celtics,0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...
Utah Jazz,Trey Lyles,Utah Jazz,41.0,PF,20.0,2023-10-06 00:00:00,234.0,Kentucky,2239800.0
Utah Jazz,Shelvin Mack,Utah Jazz,8.0,PG,26.0,2023-03-06 00:00:00,203.0,Butler,2433333.0
Utah Jazz,Raul Neto,Utah Jazz,25.0,PG,24.0,2023-01-06 00:00:00,179.0,NaN,900000.0
Utah Jazz,Tibor Pleiss,Utah Jazz,21.0,C,26.0,2023-03-07 00:00:00,256.0,NaN,2900000.0
Utah Jazz,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

### Función query

In [26]:
nba.query('Salary < 5000000')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,,
Boston Celtics,R.J. Hunter,Boston Celtics,28.0,SG,22.0,2023-05-06 00:00:00,185.0,Georgia State,1148640.0
Boston Celtics,Jordan Mickey,Boston Celtics,55.0,PF,21.0,2023-08-06 00:00:00,235.0,LSU,1170960.0
Boston Celtics,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Boston Celtics,Terry Rozier,Boston Celtics,12.0,PG,22.0,2023-02-06 00:00:00,190.0,Louisville,1824360.0
Boston Celtics,Marcus Smart,Boston Celtics,36.0,PG,22.0,2023-04-06 00:00:00,220.0,Oklahoma State,3431040.0
...,...,...,...,...,...,...,...,...,...
Utah Jazz,Trey Lyles,Utah Jazz,41.0,PF,20.0,2023-10-06 00:00:00,234.0,Kentucky,2239800.0
Utah Jazz,Shelvin Mack,Utah Jazz,8.0,PG,26.0,2023-03-06 00:00:00,203.0,Butler,2433333.0
Utah Jazz,Raul Neto,Utah Jazz,25.0,PG,24.0,2023-01-06 00:00:00,179.0,NaN,900000.0
Utah Jazz,Tibor Pleiss,Utah Jazz,21.0,C,26.0,2023-03-07 00:00:00,256.0,NaN,2900000.0
Utah Jazz,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [27]:
condicion = nba["Team"].isin(["Boston Celtics", "Chicago Bulls", "Utah Jazz"]) # Para buscar una cierta cantidad de elementos
nba[condicion]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,,
Boston Celtics,Avery Bradley,Boston Celtics,0.0,PG,25.0,2023-02-06 00:00:00,180.0,Texas,7730337.0
Boston Celtics,Jae Crowder,Boston Celtics,99.0,SF,25.0,2023-06-06 00:00:00,235.0,Marquette,6796117.0
Boston Celtics,John Holland,Boston Celtics,30.0,SG,27.0,2023-05-06 00:00:00,205.0,Boston University,NaN
Boston Celtics,R.J. Hunter,Boston Celtics,28.0,SG,22.0,2023-05-06 00:00:00,185.0,Georgia State,1148640.0
Boston Celtics,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,2023-10-06 00:00:00,231.0,NaN,5000000.0
Boston Celtics,Amir Johnson,Boston Celtics,90.0,PF,29.0,2023-09-06 00:00:00,240.0,NaN,12000000.0
Boston Celtics,Jordan Mickey,Boston Celtics,55.0,PF,21.0,2023-08-06 00:00:00,235.0,LSU,1170960.0
Boston Celtics,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Boston Celtics,Terry Rozier,Boston Celtics,12.0,PG,22.0,2023-02-06 00:00:00,190.0,Louisville,1824360.0
Boston Celtics,Marcus Smart,Boston Celtics,36.0,PG,22.0,2023-04-06 00:00:00,220.0,Oklahoma State,3431040.0
Boston Celtics,Jared Sullinger,Boston Celtics,7.0,C,24.0,2023-09-06 00:00:00,260.0,Ohio State,2569260.0
Boston Celtics,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,2023-09-05 00:00:00,185.0,Washington,6912869.0
Boston Celtics,Evan Turner,Boston Celtics,11.0,SG,27.0,2023-07-06 00:00:00,220.0,Ohio State,3425510.0
Boston Celtics,James Young,Boston Celtics,13.0,SG,20.0,2023-06-06 00:00:00,215.0,Kentucky,1749840.0
Boston Celtics,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
Chicago Bulls,Cameron Bairstow,Chicago Bulls,41.0,PF,25.0,2023-09-06 00:00:00,250.0,New Mexico,845059.0
Chicago Bulls,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
Chicago Bulls,Jimmy Butler,Chicago Bulls,21.0,SG,26.0,2023-07-06 00:00:00,220.0,Marquette,16407500.0
Chicago Bulls,Mike Dunleavy,Chicago Bulls,34.0,SG,35.0,2023-09-06 00:00:00,230.0,Duke,4500000.0
Chicago Bulls,Cristiano Felicio,Chicago Bulls,6.0,PF,23.0,2023-10-06 00:00:00,275.0,NaN,525093.0
Chicago Bulls,Pau Gasol,Chicago Bulls,16.0,C,35.0,7-0,250.0,NaN,7448760.0
Chicago Bulls,Taj Gibson,Chicago Bulls,22.0,PF,30.0,2023-09-06 00:00:00,225.0,USC,8500000.0
Chicago Bulls,Justin Holiday,Chicago Bulls,7.0,SG,27.0,2023-06-06 00:00:00,185.0,Washington,947276.0
Chicago Bulls,Doug McDermott,Chicago Bulls,3.0,SF,24.0,2023-08-06 00:00:00,225.0,Creighton,2380440.0
Chicago Bulls,Nikola Mirotic,Chicago Bulls,44.0,PF,25.0,2023-10-06 00:00:00,220.0,NaN,5543725.0
Chicago Bulls,E'Twaun Moore,Chicago Bulls,55.0,SG,27.0,2023-04-06 00:00:00,191.0,Purdue,1015421.0
Chicago Bulls,Joakim Noah,Chicago Bulls,13.0,C,31.0,2023-11-06 00:00:00,232.0,Florida,13400000.0
Chicago Bulls,Bobby Portis,Chicago Bulls,5.0,PF,21.0,2023-11-06 00:00:00,230.0,Arkansas,1391160.0
Chicago Bulls,Derrick Rose,Chicago Bulls,1.0,PG,27.0,2023-03-06 00:00:00,190.0,Memphis,20093064.0
Chicago Bulls,Tony Snell,Chicago Bulls,20.0,SF,24.0,2023-07-06 00:00:00,200.0,New Mexico,1535880.0
Utah Jazz,Trevor Booker,Utah Jazz,33.0,PF,28.0,2023-08-06 00:00:00,228.0,Clemson,4775000.0
Utah Jazz,Trey Burke,Utah Jazz,3.0,PG,23.0,2023-01-06 00:00:00,191.0,Michigan,2658240.0
Utah Jazz,Alec Burks,Utah Jazz,10.0,SG,24.0,2023-06-06 00:00:00,214.0,Colorado,9463484.0
Utah Jazz,Dante Exum,Utah Jazz,11.0,PG,20.0,2023-06-06 00:00:00,190.0,NaN,3777720.0
Utah Jazz,Derrick Favors,Utah Jazz,15.0,PF,24.0,2023-10-06 00:00:00,265.0,Georgia Tech,12000000.0
Utah Jazz,Rudy Gobert,Utah Jazz,27.0,C,23.0,2023-01-07 00:00:00,245.0,NaN,1175880.0
Utah Jazz,Gordon Hayward,Utah Jazz,20.0,SF,26.0,2023-08-06 00:00:00,226.0,Butler,15409570.0
Utah Jazz,Rodney Hood,Utah Jazz,5.0,SG,23.0,2023-08-06 00:00:00,206.0,Duke,1348440.0
Utah Jazz,Joe Ingles,Utah Jazz,2.0,SF,28.0,2023-08-06 00:00:00,226.0,NaN,2050000.0
Utah Jazz,Chris Johnson,Utah Jazz,23.0,SF,26.0,2023-06-06 00:00:00,206.0,Dayton,981348.0
Utah Jazz,Trey Lyles,Utah Jazz,41.0,PF,20.0,2023-10-06 00:00:00,234.0,Kentucky,2239800.0
Utah Jazz,Shelvin Mack,Utah Jazz,8.0,PG,26.0,2023-03-06 00:00:00,203.0,Butler,2433333.0
Utah Jazz,Raul Neto,Utah Jazz,25.0,PG,24.0,2023-01-06 00:00:00,179.0,NaN,900000.0
Utah Jazz,Tibor Pleiss,Utah Jazz,21.0,C,26.0,2023-03-07 00:00:00,256.0,NaN,2900000.0
Utah Jazz,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [28]:
condicion = nba["Team"].isin(["Boston Celtics", "Chicago Bulls", "Utah Jazz"]) # En caso de querer filtrar por la negativa, ponemos el símbolo de equivalente adelante
nba[~condicion]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,,
Brooklyn Nets,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,2023-08-06 00:00:00,216.0,NaN,3425510.0
Brooklyn Nets,Markel Brown,Brooklyn Nets,22.0,SG,24.0,2023-03-06 00:00:00,190.0,Oklahoma State,845059.0
Brooklyn Nets,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,2023-04-06 00:00:00,200.0,North Carolina,1500000.0
Brooklyn Nets,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,2023-07-06 00:00:00,220.0,Arizona,1335480.0
Brooklyn Nets,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,2023-03-06 00:00:00,200.0,Georgia Tech,6300000.0
...,...,...,...,...,...,...,...,...,...
Portland Trail Blazers,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,2023-04-06 00:00:00,200.0,Lehigh,2525160.0
Portland Trail Blazers,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,2023-07-06 00:00:00,185.0,Westchester CC,525093.0
Portland Trail Blazers,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,2023-11-06 00:00:00,235.0,Duke,1415520.0
Portland Trail Blazers,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,2023-01-06 00:00:00,173.0,Dayton,2854940.0
Portland Trail Blazers,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,2023-09-06 00:00:00,240.0,Indiana,2637720.0

In [29]:
# Para simular el 'like' de sql, se puede utilizar la función contains.
# Hay que aclarar qué se busca, qué se hace con los NA, y si es sensible a las mayúsculas
condicion = nba["Team"].str.contains("boston", na = False, case = False)
nba[condicion]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,,
Boston Celtics,Avery Bradley,Boston Celtics,0.0,PG,25.0,2023-02-06 00:00:00,180.0,Texas,7730337.0
Boston Celtics,Jae Crowder,Boston Celtics,99.0,SF,25.0,2023-06-06 00:00:00,235.0,Marquette,6796117.0
Boston Celtics,John Holland,Boston Celtics,30.0,SG,27.0,2023-05-06 00:00:00,205.0,Boston University,NaN
Boston Celtics,R.J. Hunter,Boston Celtics,28.0,SG,22.0,2023-05-06 00:00:00,185.0,Georgia State,1148640.0
Boston Celtics,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,2023-10-06 00:00:00,231.0,NaN,5000000.0
Boston Celtics,Amir Johnson,Boston Celtics,90.0,PF,29.0,2023-09-06 00:00:00,240.0,NaN,12000000.0
Boston Celtics,Jordan Mickey,Boston Celtics,55.0,PF,21.0,2023-08-06 00:00:00,235.0,LSU,1170960.0
Boston Celtics,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Boston Celtics,Terry Rozier,Boston Celtics,12.0,PG,22.0,2023-02-06 00:00:00,190.0,Louisville,1824360.0
Boston Celtics,Marcus Smart,Boston Celtics,36.0,PG,22.0,2023-04-06 00:00:00,220.0,Oklahoma State,3431040.0
Boston Celtics,Jared Sullinger,Boston Celtics,7.0,C,24.0,2023-09-06 00:00:00,260.0,Ohio State,2569260.0
Boston Celtics,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,2023-09-05 00:00:00,185.0,Washington,6912869.0
Boston Celtics,Evan Turner,Boston Celtics,11.0,SG,27.0,2023-07-06 00:00:00,220.0,Ohio State,3425510.0
Boston Celtics,James Young,Boston Celtics,13.0,SG,20.0,2023-06-06 00:00:00,215.0,Kentucky,1749840.0
Boston Celtics,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

Ejemplo - Extra

In [30]:
df = pd.read_excel("Datos/employees.xlsx", parse_dates = ["Start Date", "Last Login Time"])
df.head(3)

C:\Users\JORGE LUIS\AppData\Local\Temp\ipykernel_11632\379777392.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_excel("Datos/employees.xlsx", parse_dates = ["Start Date", "Last Login Time"])

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-06-08 00:00:00,2024-10-20 12:42:00,97308,6945,1.0,Marketing
1,Thomas,Male,3/31/1996,2024-10-20 06:53:00,61933,4.17,1.0,NaN
2,Maria,Female,4/23/1993,2024-10-20 11:17:00,130590,11858,0.0,Finance

In [31]:
df[df["Salary"].between(60000,70000)]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,3/31/1996,2024-10-20 06:53:00,61933,4.17,1.0,NaN
6,Ruby,Female,8/17/1987,2024-10-20 16:20:00,65476,10012,1.0,Product
10,Louise,Female,1980-12-08 00:00:00,2024-10-20 09:01:00,63241,15132,1.0,NaN
20,Lois,NaN,4/22/1995,2024-10-20 19:18:00,64714,4934,1.0,Legal
41,Christine,NaN,6/28/2015,2024-10-20 01:08:00,66582,11308,1.0,Business Development
...,...,...,...,...,...,...,...,...
965,Catherine,Female,9/25/1989,2024-10-20 01:31:00,68164,18393,0.0,Client Services
970,Alice,Female,1988-03-09 00:00:00,2024-10-20 20:54:00,63571,15397,1.0,Product
974,Harry,Male,8/30/2011,2024-10-20 18:31:00,67656,16455,1.0,Client Services
978,Sean,Male,1/17/1983,2024-10-20 14:23:00,66146,11178,0.0,Human Resources
998,Larry,Male,4/20/2013,2024-10-20 16:45:00,60500,11985,0.0,Business Development

In [33]:
df[df["Bonus %"].between(2.0, 5.0)]

TypeError: '>=' not supported between instances of 'str' and 'float'

In [34]:
condicion = df["Start Date"].between("1991-01-01", "1992-01-01")
df[condicion]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
27,Scott,NaN,1991-11-07 00:00:00,2024-10-20 18:58:00,122367,5218,0.0,Legal
75,Bonnie,Female,1991-02-07 00:00:00,2024-10-20 01:27:00,104897,5118,1.0,Human Resources
166,NaN,Female,1991-09-07 00:00:00,2024-10-20 18:52:00,42341,7014,NaN,Sales
245,Victor,Male,1991-11-04 00:00:00,2024-10-20 07:44:00,70817,17138,0.0,Engineering
313,Judy,Female,1991-01-07 00:00:00,2024-10-20 02:33:00,109510,13457,1.0,Legal
552,Barbara,Female,1991-02-09 00:00:00,2024-10-20 15:41:00,127297,11905,1.0,Product
639,Amanda,NaN,1991-11-08 00:00:00,2024-10-20 14:15:00,46665,19391,1.0,Client Services
704,Thomas,Male,1991-07-09 00:00:00,2024-10-20 09:51:00,65251,11211,0.0,Distribution
909,Donald,Male,1991-01-08 00:00:00,2024-10-20 02:25:00,61999,6466,0.0,Product
989,Justin,NaN,1991-10-02 00:00:00,2024-10-20 16:58:00,38344,3794,0.0,Legal

In [35]:
condicion = df["Last Login Time"].between("08:30AM", "12:00PM")
df[condicion]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,4/23/1993,2024-10-20 11:17:00,130590,11858,0.0,Finance
7,NaN,Female,7/20/2015,2024-10-20 10:43:00,45906,11598,NaN,Finance
10,Louise,Female,1980-12-08 00:00:00,2024-10-20 09:01:00,63241,15132,1.0,NaN
18,Diana,Female,10/23/1981,2024-10-20 10:27:00,132940,19082,0.0,Client Services
33,Jean,Female,12/18/1993,2024-10-20 09:07:00,119082,16.18,0.0,Business Development
...,...,...,...,...,...,...,...,...
963,Ann,Female,9/23/1994,2024-10-20 11:15:00,89443,17.94,1.0,Sales
977,Sarah,Female,1995-04-12 00:00:00,2024-10-20 09:16:00,124566,5949,0.0,Product
982,Rose,Female,1982-06-04 00:00:00,2024-10-20 10:43:00,91411,8639,1.0,Human Resources
988,Alice,Female,2004-05-10 00:00:00,2024-10-20 09:34:00,47638,11209,0.0,Human Resources
992,Anthony,Male,10/16/2011,2024-10-20 08:35:00,112769,11625,1.0,Finance